<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fate.archer.cos.dao.TeamTakeReviewMapper">

    <!-- 查询开发者提现记录 -->
    <select id="selectTeamTakeReviewPage" resultType="com.fate.archer.cos.entity.TeamTakeReview">
        SELECT
        ttr.id,
        ttr.team_id      AS teamId,
        ttr.review,
        ttr.trade_type   AS tradeType,
        ttr.remarks,
        ttr.balance,
        ttr.receiving,
        ttr.trade_result AS tradeResult,
        ttr.date,
        ttr.finish_date  AS finishDate,
        ti.players,
        ti.avatar
        FROM team_take_review ttr
        LEFT JOIN team_info ti ON (ti.id = ttr.team_id)
        WHERE 1 = 1
        <if test="teamTakeReview.players != null and teamTakeReview.players != ''">
            AND ti.players LIKE CONCAT('%',#{teamTakeReview.players},'%')
        </if>
        <if test="teamTakeReview.tradeType != null">
            AND ttr.trade_type = #{teamTakeReview.tradeType}
        </if>
        <if test="teamTakeReview.review != null">
            AND ttr.review = #{teamTakeReview.review}
        </if>
        ORDER BY ttr.date DESC
    </select>
</mapper>
